<!DOCTYPE html>
  <head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name=HandheldFriendly content="true">
    <title>Greenmine</title>
    <meta name="description" content="Greenmine" />
    <meta name="keywords" content="issue,bug,tracker" />
    <link rel="stylesheet" href="@/assets/stylesheets/greenmine.scss" />
  </head>
  <body>
    <div id="greenmine-app"></div>
    <script type="module" src="@/assets/javascripts/greenmine.ts"></script>
  </body>
</html>