@use "@jakguru/vueprint/vueprint-no-vuetify.scss" as *;
@use "sweetalert2/src/sweetalert2.scss" as *;
@use "./shared.scss" as shared;
@import './inter.scss';
@import './glass.scss';
@import 'vuetify/styles';

:root { 
  font-family: shared.$body-family; 
  --v-theme-body-font-family: shared.$body-family;
  --v-theme-heading-font-family: shared.$heading-family;
}
@supports (font-variation-settings: normal) {
  :root { font-family: shared.$body-family; font-optical-sizing: auto; }
}

html,
body {
    z-index: 0;
    margin: 0;
}

.friday-rendered-markdown {
  > *:not(:last-child) {
    margin-bottom: 1rem;
  }
  pre.friday-code-highlighted {
    padding: 0.5rem;
    background-color: #23241f;
    overflow-x: auto;
  }
}

.v-chip--issue-status {
  .v-chip__content {
    justify-content: center;
    flex-grow: 1;
  }
}

.no-wrap {
  white-space: nowrap;
}